@tailwind base;
@tailwind components;
@tailwind utilities;

.slideInRight {
  animation: slide-in-right 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940);
}
.slideOutRight {
  animation: 1s slide-out-right 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@keyframes slide-in-right{
  0%{
    transform:translateX(24rem);
    opacity:0;
  }
  100%{
    transform: translateX(0);
    opacity:1;
  }
}
@keyframes slide-out-right{
  0%{
    transform: translateX(0);
    opacity:1;
  }
  100%{
    opacity:0;
    transform:translateX(24rem);
  }
}